<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Silkka's blog</title>
    <link rel="stylesheet" href="styles.css">
    <script src="/components/theme.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
    <div hx-get="/components/navbar.html" hx-trigger="load" hx-swap="outerHTML"></div>

    <main>
        <section class="featured-post">
            <h1>Latest Post</h1>
            <article class="post-card featured">
                <div class="highlighted-image">
                    <img src="https://images.steamusercontent.com/ugc/2494514847469494025/B2884F2C027F31B4F9CC8DBFDB731874B36B1470/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                        alt="Doom Trench COH3 Map Screenshot">
                    <span class="date">21 Jul, 2024</span>
                </div>
                <h2>DOOM TRENCH (COH3)</h2>
                <p>Remake of the my COH 1 map for Company of Heroes 3.</p>
                <a href="/maps/doom-trench-coh3.html" class="read-more" hx-get="/maps/doom-trench-coh3.html"
                    hx-target="body" hx-push-url="true" aria-label="Read more about Doom Trench COH3">READ MORE</a>
            </article>
        </section>

        <section class="latest-posts">
            <h2>Recent Posts</h2>
            <div class="posts-grid">
                <article class="post-card">
                    <div class="post-image">
                        <img src="https://images.steamusercontent.com/ugc/2026094830100614009/50DCCE681215D441A846DFB7B28E1F1C106E813E/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                            alt="Stockart Cay COH3 Map Screenshot">
                        <span class="date">5 Mar, 2023</span>
                    </div>
                    <h3>STOCKART CAY (COH3)</h3>
                    <p>Remake of the my COH 1 map for Company of Heroes 3.</p>
                    <a href="/maps/stockart-cay-coh3.html" class="read-more"
                        aria-label="Read more about Stockart Cay COH3">READ
                        MORE</a>
                </article>

                <article class="post-card">
                    <div class="post-image">
                        <img src="https://images.steamusercontent.com/ugc/1868430228821029553/B405EAD8C28CA1367E63F7E8CA3E9BD228D86B40/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                            alt="Death Valley Map Screenshot">
                        <span class="date">30 Dec, 2021</span>
                    </div>
                    <h3>DEATH VALLEY</h3>
                    <p>Simple 4 lane map with focus on the centre of the map, providing strategic gameplay
                        opportunities.</p>
                    <a href="/maps/death-valley.html" class="read-more" aria-label="Read more about Death Valley">READ
                        MORE</a>
                </article>

                <article class="post-card">
                    <div class="post-image">
                        <img src="https://images.steamusercontent.com/ugc/1734423148332693574/6F868AB5221FE742F2B68F04EF3A56653FFC1A3D/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false"
                            alt="We Built This City Map Screenshot">
                        <span class="date">Mar 29, 2021</span>
                    </div>
                    <h3>WE BUILT THIS CITY</h3>
                    <p>Dense urban warfare, perfect for an intense comp stomp game featuring tactical urban combat
                        scenarios.</p>
                    <a href="/maps/we-built-this-city.html" class="read-more"
                        aria-label="Read more about We Built This City">READ
                        MORE</a>
                </article>

            </div>
        </section>

        <div class="view-all-posts">
            <a href="/posts/index.html" class="read-more">VIEW ALL POSTS</a>
        </div>
    </main>
</body>

</html>